:root {
  --sw-background-color: #000000;
  --sw-light-background-color: #343434;
  --sw-font-color: #ffffff;
  --sw-light-font-color: #efefef;
  --sw-font-color-error: #a94442;
  --sw-font-family: Consolas, monaco, monospace;
  --sw-font-size: 62.5%; // such that 1rem == 10px
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--sw-background-color);
  color: var(--sw-font-color);
}

html {
  font-size: var(--sw-font-size);
}

* {
  box-sizing: border-box;
  font-family: var(--sw-font-family);
  margin: 0;
}

#conductor {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#conductor .row {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#conductor .row-2 {
  flex-direction: row;
  flex: 5;
}

#conductor .col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#conductor .col-1 {
  display: flex;
  flex: 1;
  align-items: center;
}

#conductor .col-2 .sous-col-1 {
  display: flex;
  flex: 1;
  align-items: center;
}

#conductor .col-2 .sous-col-2 {
  display: flex;
  flex: 1;
  align-items: center;
}


